<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_description %} A financial retirement simulation model using the Monte Carlo Simulation methodology {% endblock %}">
    <meta name="keywords" content="planning, wealth, projections, finance, finances, financial, retire, retirement, savings, nest-egg, nest egg, forecast model, simulation">
    <meta name="robots" content="index, follow" >

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="{% block og_title %}Wealth Journey Projections{% endblock og_title %}" />
    <meta property="og:description" content="{% block og_description %}A financial retirement simulation model using the Monte Carlo Simulation methodology!{% endblock og_description %}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ request.url }}" />
    <meta property="og:image" content="{{ url_for('static', filename='images/og-image.jpg') }}"/>
    <meta property="og:image:alt" content="A Wealth Journey Projections application." />
    <meta property="og:site_name" content="Wealth Journey Projections" />

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@Choc_Lab_Lover" />
    <meta name="twitter:title" content="{% block twitter_title %}Wealth Journey Projections{% endblock %}" />
    <meta name="twitter:description" content="{% block twitter_description %}A financial retirement simulation model using the Monte Carlo Simulation methodology!{% endblock twitter_description%}" />
    <meta name="twitter:image" content="{{ url_for('static', filename='images/twitter-image.jpg') }}" />
    
    <!-- Canonical URL -->
    <link rel="canonical" href="{{ request.url }}" />

    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon" />

    <!-- Link to Custom CSS File -->
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/styles.css') }}">

    <!-- Tailwind Link -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />

    <title>{% block title %} Wealth Journey Projection {% endblock %}</title>
</head>
<body class="flex flex-col min-h-screen bg-purple-400">
    <header class="bg-black p-4 fixed top-0 left-0 w-full z-50">
        <nav class="flex justify-between items-center">
          <div>
          <a href="/" class="text-white text-xl font-bold hover:bg-red-500 py-2 px-4 rounded transition-colors duration-300 ease-in-out cursor-pointer">
            Wealth Journey Projections
          </a>
        </div>
          <div class="flex space-x-4">
            <!--
            <a href="/#about" class="text-white hover:bg-red-500 py-2 px-4 rounded transition-colors duration-300 ease-in-out cursor-pointer">
              About
            </a>
            -->
            <a href="/#retire-form" class="text-white hover:bg-red-500 py-2 px-4 rounded transition-colors duration-300 ease-in-out cursor-pointer">
              Retirement Input Form
            </a>
        </nav>
    </header>
    <main id="main" class="flex-grow">
    {% block content %}{% endblock %}
    </main>
    <footer class="bg-black p-4 text-center text-white fixed bottom-0 left-0 w-full z-50">
        &copy; {{ current_year }} Wealth Journey Projections. All rights reserved.
      </footer>
</body>
</html>
